.confirmation-form {
    height: 400px;
    width: 800px;
    background: black;
    border-radius: 5px;
    display: flex;
    padding: 1rem;
    color: var(--font-color);
    align-items: center;
    position: relative;
    justify-content: center;
}

.car-details img {
    height: 364px;
    width: 400px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
}

.about-car {
    position: absolute;
    z-index: 2;
    padding: 1rem;
}

.details-confirmation {
    margin-left: 2rem;
}

.details-confirmation p {
    font-size: 0.7rem;
}

.details-confirmation input {
    height: 3rem;
    border: 1px solid white;
    margin-bottom: 1rem;
}

.location-confirmation input {
    border-radius: 5px;
    width: 20rem;
}

.date-confirmation {
    border-radius: 10px 0px 0px 10px;
}

.time-confirmation {
    border-radius: 0 10px 10px 0;
}

.confirmation-container {
    height: 100vh;
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.5s;
}

.exit-button {
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
